h1 {
    display: flex;
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: red;
    margin-left: 6px;

}

h2 {
    background: -webkit-linear-gradient(#9400D3, #FF00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: centerleft
    ;
    font-family: Courier New, Courier, monospace, sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 75%;
    text-align: center;
    background: #f0f0f0
}

svg {
    display: flex;
}

#searchForm {
    height: 90%;
    width: 40%;
    margin-left: 20.5%;
    border-style: ridge;
}

#searchInput {
    width: 91%;
    height: 100%;
    font-size: 14px;
    margin-bottom: 2px;
    border-style: none;
}

p {
    font-weight: bold;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    min-width: 20px;
    align-items: center;
    margin-left: 3%;
}

.bodyDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

img {
    margin-top: 16px;
    width: 12.2em;
    height: 15.5em;
}

.mainBody {
    background: #f0f0f0;
}

.video {
    margin: 5px;
}

.searchButton {
    height: 24px;
    width: 30px;
    margin-left: 1px;
    margin-top: 4px;
}

.videoTitle{
    font-family: Georgia, Arial, sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    max-height: 3.2rem;
    line-height: 1.6rem;
    overflow: hidden;
}

.videoAuthor {
    color: #a4a4a4;
    font-family: Georgia, Arial, sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    max-height: 3.2rem;
    line-height: 1.6rem;
    overflow: hidden;
    margin: 0;
    border: 0;
}

.subHeader {
    display: flex;
}

#subbHeader {
    font-family: Georgia, Arial, sans-serif;
}

// Big Screen
@media all and (max-width: 3000px) {
    .subHeader {
      justify-content: center;
      margin-right: 35%;
    }
    .searchButton {
      margin-left: 5.3%;
    }
    #searchInput {
      font-size: 20px;
    }
}
  
// Small Screen
@media all and (max-width: 1300px) {
    .subHeader {
      justify-content: left;
      margin-left: 5%;
    }
    .searchButton {
        margin-bottom: 4px;
        margin-left: 1px;
    }
    #searchInput {
        width: 92%;
        height: 100%;
        font-size: 18px;
        margin-bottom: 7px;
        border-style: none;
    }
}
    









